.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-around;
  }
  .theme-title {
    width: 100%;
    max-width: 100rem;
    margin: 0px auto;

    .theme-title-img {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      max-height: 12.5rem;
      padding: 0.9375rem 0px;
      background-position: center center;

      img {
        max-width: 12.5rem;
        max-height: 3.75rem;
      }
    }
  }
}
