.collection-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 800px) {
      width: 40vw;
      margin: 20px 0 0 0;
      img {
        height: 85%;
      }
    }
  }

  button {
    position: absolute;
    width: 80%;
    top: 225px;
    opacity: 0.7;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      min-width: unset;
      opacity: 0.9;
      padding: 0 10px 0 10px;
      top: 180px;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    button {
      opacity: 0.85;
      display: flex;
    }

    @media screen and (max-width: 800px) {
      .image {
        opacity: unset;
      }
      button {
        opacity: unset;
      }
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 65%;
      margin-bottom: 15px;
      word-wrap: break-word;
    }

    .price {
      width: auto;
      font-weight: bold;
      font-size: 18px;
    }

    @media screen and (max-width: 800px) {
      font-size: 14px;
      padding: 0 10px;

      .price {
        font-size: 14px;
      }
    }
  }
}
