<div class="LineItemstyles__QuantityContainer-e2qtdj-3 enPgfZ">
    <div class="Quantitystyles__QuantityWrapper-sc-7da5de-0 eMUuVD" data-test="quantity-wrapper">
        <button data-test="quantity-decrease" class="Quantitystyles__ModifyButton-sc-7da5de-1 ixMVsv">
            <svg class="minus" width="14px" height="2px" viewBox="0 0 14 2" aria-hidden="true">
                <polygon fill="black" points="14 2 0 2 0 -6.03961325e-14 14 -6.03961325e-14"></polygon>
            </svg>
            <span class="VisuallyHidden-sc-1dwqwvm-0">Decrease Quantity</span>
        </button>
        <div class="Quantitystyles__InputContainer-sc-7da5de-3 dXyAKP"><input pattern="[0-9]*" type="number"
                data-test="quantity-value" label="Quantity" aria-label="Quantity"
                class="Quantitystyles__NumberInput-sc-7da5de-2 fnClUL" value="2"></div><button
            data-test="quantity-increase" class="Quantitystyles__ModifyButton-sc-7da5de-1 bHkAGn"><svg class="add"
                xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 14 14" aria-hidden="true">
                <polygon fill="black" points="14 8 0 8 0 6 14 6"></polygon>
                <rect fill="black" fill-rule="nonzero" x="6" y="0" width="2" height="14"></rect>
            </svg><span class="VisuallyHidden-sc-1dwqwvm-0">Increase Quantity</span></button>
    </div>
</div>